@import './fonts.css';

:root {
    --main-color: #111111;
    --secondary-color: #eeeeee;
    --tertiary-color: #0aaf62;
    --tertiary-color-bis: #04914f;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, "sans-serif";

    overflow-x: hidden;
    overflow-y: visible;

    position:relative;
}

nav {
    height: 380px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

#logo {
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logo > img {
    height: 200px;
    margin: auto;
}

#navigation {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--secondary-color);
}

#buttons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
}

#buttons > div {
    background-color: #333333;
    font-size: 200%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
    user-select: none;
    cursor: pointer;
}

#buttons > div:hover {
    background-color: black;
}

.border {
    width: 30px;
}

.border-light {
    background-image: linear-gradient(to bottom right, var(--secondary-color) 48%, transparent 52%);
    background-repeat: no-repeat;
}

.border-dark {
    background-image: linear-gradient(to bottom right, var(--main-color) 48%, transparent 52%);
    background-repeat: no-repeat;
}

.border-tertiary {
    background-image: linear-gradient(to top left, var(--tertiary-color) 48%, transparent 52%);
    background-repeat: no-repeat;
}

#summary {
    transform: translateX(-100%);
    transition: 1s ease-out;
    display: flex;
    justify-content: left;
    width: 80%;
}

#summary > #text {
    text-align:justify;
    font-weight: bold;
    font-style: italic;
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

h1 {
    font-size: 50px;
}

#button-read {
    height: 100%;
    background-color: var(--tertiary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

#button-read-container {
    transition: 0.7s ease-in-out;
    transform: translateX(100%);
    display:flex;
    flex-direction: row-reverse;
    justify-content: right;
    width: 20%;
    cursor:pointer;
}

#button-read-container:hover > #button-read {
    transition: 0.3s ease-in-out;
    font-size: 50px;
    background-color: var(--tertiary-color);
}

#summary-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#content {
    width:100%;
    position:relative;
}

#canvas {
    position:absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#more-container {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

#more-buttons {
    margin: auto;
    margin-top: 80px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
}

.more-button {
    background-color: transparent;
    color: transparent;
    border-radius: 9999px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.more-button:hover {
    background-color: var(--tertiary-color-bis);
    transition: 0.3s ease-in-out;
}

#more-title {

    transform: translateY(-200%);
    color: transparent;
    transition: 0.7s ease-in-out;

}