:root {
    --main-color: #111111;
    --secondary-color: #eeeeee;
}

@font-face {
    font-family: "Quicksand";
    src: url('../res/common/font/Quicksand-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "Quicksand";
    src: url('../res/common/font/Quicksand-Light.otf') format('opentype');
    font-weight: lighter;
}

@font-face {
    font-family: "Quicksand";
    src: url('../res/common/font/Quicksand-Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url('../res/common/font/Quicksand-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url('../res/common/font/Quicksand-LightItalic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url('../res/common/font/Quicksand-Regular.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

nav {
    height: 380px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

#logo {
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logo > img {
    height: 200px;
    margin: auto;
}

#navigation {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--secondary-color);
}

#buttons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
}

#buttons > div {
    background-color: #333333;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: lighter;
    user-select: none;
    cursor: pointer;
}

#border {
    border-left: 40px solid var(--main-color);
    border-bottom: 60px solid transparent;
}