@import './fonts.css';

:root {
    --main-color: #111111;
    --secondary-color: #eeeeee;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

nav {
    height: 380px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

#logo {
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logo > img {
    height: 200px;
    margin: auto;
}

#navigation {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--secondary-color);
}

#buttons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
}

#buttons > div {
    background-color: #333333;
    font-size: 200%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
    user-select: none;
    cursor: pointer;
}

#buttons > div:hover {
    background-color: black;
}

.border {
    width: 30px;
}

.border-light {
    background-image: linear-gradient(to bottom right, var(--secondary-color) 48%, transparent 52%);
    background-repeat: no-repeat;
}

.border-dark {
    background-image: linear-gradient(to bottom right, var(--main-color) 48%, transparent 52%);
    background-repeat: no-repeat;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#summary {
    animation: 1s ease-out 0s 1 slide;
    margin-top: 30px;
    display: flex;
    justify-content: left;
}

#summary > #text {
    text-align:justify;
    font-weight: bold;
    font-style: italic;
    width: 80%;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

#summary > #text > h1 {
    font-size: xx-large;
}

@keyframes dotAnimation {
    0% {
        color: transparent;
        background-color: transparent;
        transform: translateY(-300%);
    }
    50% {
        color: transparent;
        background-color: transparent;
    }
    100% {
        color: var(--main-color);
        background-color: var(--secondary-color);
        transform: translateY(0%);
    }
}

#button-read {
    animation: 1s ease-out 0.4s 1 dotAnimation forwards;
    background-color: transparent;
    color: transparent;
    padding: 10px;
    font-weight: bold;
    border-radius: 9999px;
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    align-self: center;
    display: inline-block;
}

#button-read-container {
    margin-top: 30px;
    text-align: center;
}

#content {
    width:100%;
}